<form method="post" class="flex justify-center" action="{{ path('app_topic_category_delete', {'id': topic_category.id}) }}" onsubmit="return confirm('Confirmez la suppression de cette catégorie.');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ topic_category.id) }}">
	<button class="btn bg-red-500">Supprimer</button>
</form>
