<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - CyclOO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('build/app.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        {% endblock %}

        
    </head>
    <body class="min-h-screen flex flex-col">
        <div class="flex-grow">
            {% include 'partials/_header.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        {% include 'partials/_footer.html.twig' %}
    
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
            <!-- Leaflet JS -->
            <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

            <!-- Leaflet GPX Plugin -->
            <script src="https://cdn.jsdelivr.net/npm/leaflet-gpx@1.5.0/gpx.min.js"></script>
        {% endblock %}
</body>
</html>
