{% extends 'base.html.twig' %}

{% block title %}Modifier un Article
{% endblock %}

{% block body %}

	<h1 class="text-3xl font-bold mb-8 text-gray-900 text-center">Modifier l'article</h1>

	<div class="p-8 rounded-lg shadow-lg">
		{{ include('article/_form.html.twig', {'button_label': 'Ajouter'}) }}
	</div>
</div>{% endblock %}
