{% extends 'base.html.twig' %}

{% block title %}Actualité{% endblock %}

{% block body %}
<div class="py-8 bg-gradient-to-b from-[#283D3B] to-[#197278]">
    <div class="container mx-auto px-4">
        <div class="mb-8 text-center">
            <h2 class="text-center text-5xl text-white m-4">
                Actualités
            </h2>
            <p class="text-white m-4">
                Tous nos articles sur le cyclotourisme et les itinéraires vélo
            </p>
        </div>

        {{ include("/article/partials/_article_list.html.twig", {"articles": articles}) }}
        <div class="col-span-full text-center">
          {{ knp_pagination_render(articles) }}
        </div>
    </div>
</div>
{% endblock %}
