{% extends 'base.html.twig' %}

{% block title %}Forum
{% endblock %}

{% block body %}
	<main class="w-11/12 sm:w-[640px] mx-auto my-4">
		{% include '/partials/_breadcrumbs.html.twig' with { breadcrumbs: breadcrumbs } %}
		{% for topic_category in topic_categories %}
			{{ include('/forum/partials/_category_section.html.twig', {
				'topic_category': topic_category,
				'form': topic_category_forms[topic_category.id]
			}) }}
		{% endfor %}
		{{ include('/topic_category/_new_form.html.twig', {'form': new_topic_category_form}) }}
	</main>
{% endblock %}
