{% extends 'base.html.twig' %}

{% block title %}
	{{ topic_category.name }}
	- Forum
{% endblock %}

{% block body %}
	<main class="w-11/12 sm:w-[640px] mx-auto my-4">
		{% include '/partials/_breadcrumbs.html.twig' with { breadcrumbs: breadcrumbs } %}
		<div class="flex justify-center my-4">
			{% if app.user %}
				<a class="btn" href="{{ path('app_topic_new', { 'categorie': topic_category.slug }) }}">
					Nouveau sujet
				</a>
			{% else %}
				<a class="btn" href="{{ path('app_user_login') }}">Connectez vous pour créer un article</a>
			{% endif %}
		</div>
		{{ include('/forum/partials/_category_section.html.twig', {
			'topic_category': topic_category,
			'form': form
		}) }}
	</main>
{% endblock %}
